<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bokecc.video">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".ui.main.activity.VideoCourseActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
    </application>
</manifest>
